vk_access_token: "mytoken"
vk_group_id: "mygroupid"
vk_owner_id: "myownerid"

development:
  DB_USERNAME: {{ D_DB_USER }}
  DB_PASSWORD: "{{ D_DB_PASS }}"
  DB_HOST: {{ D_DB_HOST }}
production:
  DB_USERNAME:
  DB_PASSWORD:
  DB_HOST:
test:
  DB_USERNAME:
  DB_PASSWORD:
  DB_HOST:


